<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
  </head>
  <body>
    <div class="container azul">
      <header class="top row gutters{% if page.title == "Home" %} fadeInLeft animated{% endif %}">
        <div class="logo-bar">
          <a href="/" id="logo" title="Pankaj Malhotra"></a>
        </div>
      </header>

      {{ content }}
      {% if page.comments %}
      {% include comments.html %}
      {% endif %}
      
      {% if page.social %}
      {% include social.html %}
      {% endif %}

      <footer>
          <p>
          Thank you, please contact via <a href="mailto:pmmalhotra.life@gmail.com">email</a>
        </p>
      </footer>
    </div>

    <!-- scripts -->
    {% include google_analytics.html %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="{{site.baseurl}}/public/js/jquery.fitvids.js"></script>
    <script>
      $(document).ready(function(){
        $("article").fitVids();
      });
    </script>
  </body>
</html>
